$main-color: #5c99ca;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body{
  height: 100%;
}

body {
  background: rgb(195, 188, 178);
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
